@import "tailwindcss";

@font-face {
    font-family: 'MainFont';
    src: url('fonts/bpg_nino_mtavruli_bold.ttf');
}


@theme {
    --color-primary: #5E35B1;
    --color-secondary: #F76C5E;
    --color-accent: #4FC3F7;
    --color-background: #FAFAFA;
    --color-text: #333333;
    --color-calm: #A8D5BA;
}

:root {
    --font-multiplier: 1;
}

.title {
    font-size: calc(1.25rem * var(--font-multiplier));
    font-weight: bold;
}

.plain-text {
    font-size: calc(0.875rem * var(--font-multiplier));
}

@media (min-width: 640px) {
    .title {
        font-size: calc(1.125rem * var(--font-multiplier));
    }

    .plain-text {
        font-size: calc(1rem * var(--font-multiplier));
    }
}

@media (min-width: 768px) {
    .title {
        font-size: calc(1.25rem * var(--font-multiplier));
    }

    .plain-text {
        font-size: calc(1.125rem * var(--font-multiplier));
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: calc(1.5rem * var(--font-multiplier));
    }

    .plain-text {
        font-size: calc(1.1rem * var(--font-multiplier));
    }
}


/* * {
    font-family: "MainFont", sans-serif;
} */

.main_wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #5E35B1;
    min-height: 70dvh;
    background-color: #FAFAFA;
}

footer {
    background-color: #FAFAFA;
    color: #5E35B1
}

@media (min-width: 1600px) {
    .main_wrapper {
        width: 1600px;
    }

    footer {
        background-color: #5E35B1;
        color: #FAFAFA
    }
}

.customscroll::-webkit-scrollbar {
    width: 8px;
    scrollbar-width: thin;
    scrollbar-face-color: red;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    /* optional for indentation */
}

ul li::marker {
    color: #4c583e;
}

ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    /* optional for indentation */
}


ol li::marker {
    color: #4c583e;
}
